.header{
  height: 60px;
  width: 100%;
  display: flex;
  line-height: 60px;
  background: -moz-linear-gradient(top, #FFF, #FFC778 30%, #F89174 60%,#87CEFA);
  background: -webkit-linear-gradient(top, rgb(255, 255, 255), #FFC778 30%, #F89174 60%, #87CEFA);
  background: linear-gradient(to bottom, rgb(255, 255, 255), #FFC778 30%, #F89174 60%,#87CEFA); 
  position: fixed;
  font-family: monospace;
  z-index: 1;
  &__title{
    margin-left: 20px;
    width: 250px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  &__word{
    font-size: 16px;
    margin-right: 8px;
    text-decoration: none;
    color: black;
    &:hover{
      cursor: pointer;
      color:blueviolet
    }
  }
 }
