.signup-wrapper{
  position: relative;
  top: 130px;
  bottom: 0;
  right: 0;
  left: 240px;
  width: 800px;
  height: 480px;
  font-family: monospace;
  background: -moz-linear-gradient(top, #FFF, #FFC778 30%, #F89174 60%,#87CEFA);
  background: -webkit-linear-gradient(top, rgb(255, 255, 255), #FFC778 30%, #F89174 60%, #87CEFA);
  background: linear-gradient(to bottom, rgb(255, 255, 255), #FFC778 30%, #F89174 60%,#87CEFA);
  border-radius: 5px;
  overflow: hidden;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  overflow: scroll;
}

.signup-box{
  position: absolute;
  top:50px;
  left:0;
  right: 0;
  bottom: 0;
  text-align: center;
  .signup__title{
    font-size: 40px;
  }
  .signup-form{
    margin-top: 30px;
    &__field{
      font-size: 20px;
      margin-top: 10px;
      &__text{
        margin-top: 5px;
        height: 30px;
        width: 500px;
        font-size: 20px;
        border-radius: 3px;
      }
      &__btn{
        width: 200px;
        height:30px;
        border-radius:5px;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.28);
        margin-bottom: 10px;
      }
    }
    
  }

}