.header
  .header__title
    = link_to "OK Itogle", :root, class: "header__title" 
  .header__word
    = link_to "ワード登録", :new_home, class:"header__word"
    = link_to "登録済みワード", :word_register_home_index, class:"header__word"
  

